<md-dialog aria-label="Set-up" ng-controller="mainController" flex="66"ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Set-up</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="../imgs/ic_clear_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="min-width:820px;height:100vh; ">
      <md-tabs md-dynamic-height md-border-bottom>
        
        <md-tab ng-disabled="step[0]" label="School">
          <md-content class="md-padding">
            <form name="schoolForm" ng-submit="createSchool()"> 
        		<div layout layout-sm="column"> 
	              	<md-input-container flex> 
		              	<label>School Name</label> 
		              	<input ng-model="user.firstName"> 
	              	</md-input-container> 	
              	</div> 
	              	<div>
	              	<md-input-container flex> 
		              	<label>Address 1</label> 
		              	<input ng-model="user.address"> 
	              	</md-input-container> 
	              	<md-input-container flex> 
		              	<label>Address 2</label> 
		              	<input ng-model="user.address"> 
	              	</md-input-container> 
              	    </div>
              	<md-content layout layout-sm="column" flex="100"> 
	              
	            
	              	<md-input-container flex="33"> 
		              	<label>City</label> 
		              	<input ng-model="user.city"> 
              		</md-input-container> 
              	
	              	<md-input flex="33">
			          	<label>State</label>
			          	<md-select class="select" ng-model="user.state">
			            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
			              {{state.abbrev}}
			            </md-option>
			          	</md-select>
			        </md-input>
	             
	              	<md-input-container flex="33"> 
		              	<label>Postal Code</label> 
		              	<input ng-model="user.postalCode"> 
			        </md-input-container> 
		       
		        </md-content>


		        <div layout layout-sm="column"> 
	              	<md-input-container flex> 
		              	<label>Phone Number</label> 
		              	<input ng-model="user.city"> 
              		</md-input-container> 
	              	<md-input-container flex> 
		              	<label>Email</label> 
		              	<input ng-model="user.postalCode"> 
			        </md-input-container> 
		        </div>  
        	
        	</form> 
          </md-content>
        </md-tab>
        
        
         <md-tab ng-disabled="step[1]" label="Teachers">
          <md-content class="md-padding">
           
         	<h1 class="md-display-2">Teachers</h1>
           	<form name="teacherForm" ng-submit="addTeacher()"> 
           		<div layout layout-sm flex="100">
	              	<md-input-container flex="25">  
	              	<label>First Name</label> 
	              	<input ng-model="inputTeacher.firstName"> 
	              	</md-input-container> 
	              
	              	<md-input-container flex="25"> 
	              	<label>Last Name</label> 
	              	<input ng-model="inputTeacher.lastName"> 
	              	</md-input-container> 

	              	<md-input-container flex="25"> 
	              	<label>email</label> 
	              	<input ng-model="inputTeacher.email"> 
	              	</md-input-container> 


	              	<md-input-container flex="10">
			          	<label>Grade</label>
			          	<md-select class="select" ng-model="inputTeacher.grade">
			            <md-option ng-repeat="grade in grades" value="{{grade.grade}}">
			              {{grade.grade}}
			            </md-option>
			          	</md-select>
			        </md-input-container>
	              	

	              	<md-input-container type="submit" flex="5"> 
	              	<md-button class="md-icon-button">
	     
	              	<md-icon type="submit" md-svg-src="/imgs/ic_add_box_black_48px.svg" class="name"></md-icon>
	              	
	              	</md-button>
	              	</md-input-container> 
            	



            	</div>
            	</form> 

            	<md-divider></md-divider>
                <md-subheader>Teachers</md-subheader>
            	
            	<div> 
            	<md-content>
			    <md-list>
			      <md-list-item ng-repeat="teacher in teachers">
			        <div class="md-list-item-text">
			          <h3>{{teacher.firsName}}</h3>
			          <h4>{{teacher.lastName}}</h4>
			          <p>{{teacher.email}}</p>
			          {{teacher.grade}}
			        </div>
			        <md-button class="md-secondary">Respond</md-button>
			        <md-divider ng-if="!$last"></md-divider>
			      </md-list-item>
			    </md-list>
			  </md-content>
            	</div>


          </md-content>
        </md-tab>





        <md-tab ng-disabled="step[2]" label="Grade Levels">
          <md-content class="md-padding">
            <h1 class="md-display-2">Grade Levels</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
            <p>Paragraph 3</p>
          </md-content>
        </md-tab>
        
       
      
      <md-tab ng-disabled="step[3]" label="Students">
          <md-content class="md-padding">
            <h1 class="md-display-2">Students</h1>
            <p>Paragraph 1</p>
          </md-content>
        </md-tab>
      </md-tabs>
    
    </md-dialog-content>
    	<md-button ng-click="answer()" style="margin-right:20px;" >
        Useful
      </md-button>
  </form>
</md-dialog>