/*Bootstrap UI Dependencies*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a:focus, span:focus {
   outline: none;
   border: 0;
}

/* Angular Toolbar https://material.angularjs.org/latest/demo/toolbar*/
md-toolbar md-icon.md-default-theme {
  color: white; }
/* Angular Toolbar https://material.angularjs.org/latest/getting-started*/
.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

/*from http://codepen.io/kyleledbetter/pen/gbQOaV/*/
$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}


/* for the tab modal*/
#popupContainer {
  position: relative; }
.footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.footer, .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

/*for the select options dropdown*/
.dropDown {
  padding-top : 20px;
}

/* for aligning the listing of teachers and students in the input forms to their headers*/
.personListing {
  padding-left: 16px;
  margin-right: 16px;
}

